/* ----- color ----- */

header {
    background-color: grey;
  }
  
  /* ----- structure ----- */
  
  header h1 {
    margin: 0;
    color: white;
    font-family: 'Lucida Sans';
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
    padding: 40px 0 20px 20px;
  }

 .container {
     width: 600px;
     margin: auto;
 }

  h2 {
    color: black;
    font-family: 'Lucida Sans';
  }
  
  p {
    color: black;
    font-size: 18px;
    font-family: 'Lucida Sans';
    line-height: 20px;
  }
  
  /* ----- image ----- */
  
  img {
    width: 300px;
  }
  
  .image-circle {
    border-radius:50%;
  }
  
  /* ----- pseudocode ----- */
  
  a:link    { color: blue;  }
  a:visited { color: red;   }
  a:hover   { color: green; }
  a:active  { color: pink;  }
